.App {
  position: relative;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
}

/* .App-header {
  position: fixed;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/*****************Nav***************/

/* .navBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
} */

/* .title {
  margin: 0;
  color: white;
  font-size: 40px;
} */

/* .favLink {
  color: white;
} */


/* nav .links {
  display: inline-block;
  text-align: right;
} */

/* nav a {
  display: inline-block;
  margin-left: 20px;
  font-weight: 400;
  padding: 8px;
  border-bottom: 3px solid transparent;
} */

/****************Form****************/

/* .formIntro {
  margin: 40px 10px;
}

.inputBar {
  height: 20px;
  width: 15em;
  font-family: monospace;
}

.submitButton {
  height: 26px; */


/*****************Contact************/

/* .contactForm {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 6fr;
  row-gap: 4px;
}

input#firstname, #lastname, #email {
  padding: 5px 0 5px 0;
  margin: 0 5px 0 5px;
  font-family: monospace;
}

textarea#message {
  padding: 5px 0 40px 0;
  margin: 0 5px 0 5px;
}

button {
  padding: 5px 0 5px 0;
  margin: 0 5px 5px 5px;
} */

/****************Footer*************/

.footerBar {
  margin: 0;
  color: white;
  font-size: 30px;
}

.footer {
  display: flex;
  font-size: 12px;
  color: black;
}

.copyRight {
  color: black;
  font-size: 8px;
}

.footLink {
  text-decoration: none;
  color: #000C40;
}
