.App {
  position: relative;
  width: 100%;
  height: 100%;
}

.main-content {
  /* position: fixed;
  width: 100%;
  height: 100%; */
  padding-top: 5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

/* .App-header {
  position: fixed;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.main_title {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 2rem 1rem;
  margin: 3rem;
}

.background {
  position: relative;
  height: 100%;
  width: 100%;
  background-position: center;
  /* background-size: cover; */
}

/*****************Nav***************/

/* .navBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
} */

/* .title {
  margin: 0;
  color: white;
  font-size: 40px;
} */

/* .favLink {
  color: white;
} */


/* nav .links {
  display: inline-block;
  text-align: right;
} */

/* nav a {
  display: inline-block;
  margin-left: 20px;
  font-weight: 400;
  padding: 8px;
  border-bottom: 3px solid transparent;
} */

/****************Form****************/

/* .formIntro {
  margin: 40px 10px;
}

.inputBar {
  height: 20px;
  width: 15em;
  font-family: monospace;
}

.submitButton {
  height: 26px; */


/*****************Contact************/

/* .contactForm {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 6fr;
  row-gap: 4px;
}

input#firstname, #lastname, #email {
  padding: 5px 0 5px 0;
  margin: 0 5px 0 5px;
  font-family: monospace;
}

textarea#message {
  padding: 5px 0 40px 0;
  margin: 0 5px 0 5px;
}

button {
  padding: 5px 0 5px 0;
  margin: 0 5px 5px 5px;
} */

/*****************Main*****************/

#dj_j {
  margin-top: 100px;
}

.page_image {
  position: relative;
}

.page_image .image_wrapper {
  background-color: white;
}

.page_image .image_wrapper img[data-src] {
  width: 100%;
  display: block;
}

img {
  border: 0;
  vertical-align: middle;
}

/********************Header Info*************/

.header_info {
  clear: none;
  /* background-color: white; */
}

.header_block {
  position: relative;
  margin-top: 100px;
  padding: 17px;
  /* background-color: white; */
}

.header_content {
  text-align: center;
  white-space: pre-wrap;
  font-size: 1.3em;
  line-height: 1.3em;
  text-transform: none;
  letter-spacing: 1px;
  font-weight: 300;
  font-style: normal;
  margin-bottom: 100px;
  background-color: white;
}

.header_des {
  clear: none;
}

/**************Page Divider*********************/

.page-divider {
  border-bottom: 1px solid #fff;
  border-bottom-width: 2px;
  display: block;
  margin-top: 85px;
}

/******************Profile****************/

.profile {
  display: flex;
  justify-content: space-evenly;
  padding: 2rem 1rem;
  background: steelblue;
}

.profile__set {
  width: 100%;
  background: white;
  margin: 0 1rem;
  margin-top: 100px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.profile__set__description {
  text-align: center;
}

.profile__set__image {
  display: flex;
  flex-direction: row;
}

.profile__set__image img {
  object-fit: contain;
}

/***************Info Footer*************/

.info-footer {
  float: left;
  width: 100%;
  padding: 20px 0;
  box-sizing: border-box;
  background-color: white;
}

/****************Footer*************/

.footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  color: black;
  font-size: 12px;
  z-index: var(--z-fixed);
}

.copyRight {
  color: black;
  font-size: 8px;
}

.footLink {
  text-decoration: none;
  color: #000C40;
}

/********************MEDIA*******************/

@media screen and (max-width: 320px) {
  .main_title {
    padding: 1px;
  }
}

@media screen and (max-width: 768px) {
  .main_title {
    padding: 1px;
  }
}

@media screen and (max-width: 1024px) {
  .main_title {
    padding: 1px;
  }
} 